// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
nz-header {
    color: white !important;
    text-align: center;
}
